body{
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    --button-hover-color: #d4bff9;
    --background-color: #efe5fd;
    --secondary-text-color: #b794f6;
}

#profile-section{
    width: 95%;
    max-width: 750px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 150px auto;  
    padding: 10px;
    
}

#profile-section .profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid var(--button-hover-color);
    overflow: hidden;
}

#profile-section .profile-photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#profile-section .profile-description{
    padding-top: 10px;
    margin-left: 10px;
    display: block;
}

#profile-section .profile-description .profile-name-and-buttons .profile-name{
    font-size: 25px;
}

#profile-section .profile-description .profile-name-and-buttons .profile-buttons{
    width: 100%;
    display: flex;
}

#profile-section .profile-description .profile-name-and-buttons .profile-buttons button{
    width: 70px;
    height: 50px;
    margin-right: 4%;
    border: 0;
    background-color: #fff;
    font-size: 20px;
    border: 1px solid var(--background-color);
    border-radius: 15px;
}

#profile-section .profile-description .profile-name-and-buttons .profile-buttons button:hover{
    background-color: var(--background-color);
}

#profile-section .profile-description .about-me{
    font-size: 17px;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width: 400px){

    #profile-section {
        display: block;
    }
    #profile-section .profile-photo{
        margin: auto;
        width: 200px;
        height: 200px;
    }

    #profile-section .profile-description{
        padding-top: 1  0px;
        margin-left: 0;
        display: block;
    }

    #profile-section .profile-description .profile-name-and-buttons{
        display: block;
    }

    #profile-section .profile-description .profile-name-and-buttons .profile-name{
        margin: auto;    
        margin-top: 15px;
        margin-bottom: 20px;
        max-width: 35vw;
        display: flex;
        justify-content: center;
    }

    #profile-section .profile-description .profile-name-and-buttons .profile-buttons{
        margin: auto;   
        margin-top: 15px;
        margin-bottom: 20px;
        max-width: 35vw;
        justify-content: center;
    }

    #profile-section .profile-description .about-me {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width: 401px){
    #profile-section .profile-description .profile-name-and-buttons{
        display: flex;
        width: 100%; 
    }

    #profile-section .profile-description.profile-name-and-buttons.profile-name{
        justify-self: left;
    }

    #profile-section .profile-description .profile-name-and-buttons .profile-buttons{
        justify-content: right;
        margin-bottom: 30px
    }
}



