body{
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    --button-hover-color: #d4bff9;
    --background-color: #efe5fd;
    --secondary-text-color: #b794f6;
}

nav{
    width: 100%;
}


    

#topbar{
    border-bottom: 1px solid var(--button-hover-color);
    background-color: white;
    position: sticky;
    top:0;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 8vh;
    min-height: 50px;
    z-index: 3;
}

#topbar div{
    justify-self: center;
    border: 2px solid yellow;   
}

#topbar .profile{
    width: 6vh;
    overflow: hidden;
    height: 6vh;
    justify-self: center;
    align-self: center;
    border-radius: 3vh;
    border: 1px solid var(--button-hover-color);
}

#topbar .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#navbar{
    border-top: 1px solid var(--button-hover-color);   
    background-color: #fff;
    position: fixed;
    bottom: 0;    
    display: flex;
    height: 8vh;
    min-height: 50px;
    justify-content: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar .icon{
    background-color: #fff;
    border: 0;
    font-size: 40px;
    width: 90%;
    max-width: 175px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#navbar .icon:hover{
    background-color: var(--background-color);
    border-radius: 15px;
}

#main-section{
    position: relative;
    background-color: var(--background-color);
    height: 84vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#main-section section{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
}

#stories{
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15px auto 15px;
}

#stories button{
    font-size: 20px;
    border-radius: 10px;
    background-color: #fff;
    border:0;
}

#stories button:hover{
    border-radius: 10px;
    border: 2px solid var(--secondary-text-color);
}

#stories .profiles{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#stories .profiles .story{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid var(--button-hover-color);
    overflow: hidden;
}

#stories .profiles .story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#posts{
    overflow-wrap: break-word;
    
}

.post{
    background-color: #fff;
    border-radius: 10px;

    margin-bottom: 40px;
}

.post a{
    color: black;
    text-decoration:none;
}

.post .profile-info {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 20px;
    align-items: center;
    justify-content: left;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid var(--button-hover-color);

}

.post .profile-info .profile-photo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--button-hover-color);
    margin-right: 30px;
    overflow: hidden;
}

.post .profile-info .profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post img{
    width: 98%;
    display: block;
    margin: auto;
}

.post video{
    width: 98%;
    display: block;
    margin: auto;
}

.post .post-icons{
    position: relative;
    display: flex;
    margin: auto;
    width: 98%;
}

.post .post-icons .icon{
    border: 0;
    background-color: #fff;
    padding:10px;
    font-size: 40px;
}

.post .post-icons .icon:hover{
    padding:10px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.post .post-icons .views{
    font-size: 17px;
    color: var(--secondary-text-color);
    position: absolute;
    right: 0;
    top:20%;
}

.post .description{     
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}


.post .comments{
    border-top: 1px solid var(--button-hover-color);
    margin-top: 10px;
    padding-bottom: 10px;
}

.post .comments img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post .comments .my-comment{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 45px auto 45px;
    gap: 10px;
}

.post .comments .my-comment .profile-photo{
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    border: 1px solid var(--button-hover-color);
    overflow: hidden;
}

.post .comments .my-comment textarea{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-text-color);
    max-height: 55px;
    border: 1px solid var(--button-hover-color);
    border-radius: 15px;
    padding: 10px;
    resize: none;
}

.post .comments .my-comment .send-icon{
    align-self: center;
    height: 45px;
    border: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.post .comments .my-comment .send-icon:hover{
    border-radius: 10px;
    background-color: var(--background-color);
}


.post .comments .comment{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40px auto 45px;
    gap: 10px;
}

.post .comments .username{
    margin-right: 10px;
}


.post .comments .profile-photo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--button-hover-color);
    overflow: hidden;
}

.post .comments .comment .content{
    padding:10px;
    border-radius: 15px;
    border: 1px solid var(--button-hover-color);
}

.post .comments .comment .content p{
    margin-top: 5px;
    margin-bottom:0;
}

.post .comments .comment .content p button{
    background-color: #fff;
    border: 0;
    margin-left: 0;
    margin-right: 5px;
    font-size: 15px;
}

.post .comments .comment .content p button:hover{
    border-radius: 10px;
    background-color: var(--background-color);
}

@media screen and (max-width: 1600px){
    #main-section #recomended-profiles-section{
        width: 0px;
        border: 0;
        position:absolute;
        right:0;
        top:0;
    }
}

@media screen and (min-width: 1600px){
    #main-section #recomended-profiles-section{
        width: 300px;
        position:absolute;
        right:0;
        top:0;
    }
}